<!-- form goes here -->

    <form>
    <button type="submit" class="button"> Sign in with Google</button>

    <!-- <div style="float:left; width: 44%;"><hr/></div> -->
    <table><tr>
            <td style="width:50%"><hr/></td>
            <td style="vertical-align:middle; text-align: center">OR</td>
            <td style="width:50%"><hr/></td>
    </tr></table>
    <!-- <div style="float:right; width: 44%;"><hr/></div> -->
   

    <div class="field">
      <input type="email" name="name" class="input" placeholder="Username or Email">
    </div><br>
  
   
    <div class="field">
      <input type="password" name="password" class="input" placeholder="Password">
    </div>
  
  <br>
    <button type="submit" class="button">Login</button>
    </form>


  