
<div class="dashboard-container " >
                <h1>Home Row</h1>

        <h3>
            {{gameCollectionTitle}}
        </h3>
        <div class="row">
                <ng-container *ngFor="let item of gameCollectionItems; let i = index">
                        
                 <small-action-card *ngIf="item.locked == false" id="{{i}}" [gameCollectionItem]="item"></small-action-card>    
                    
                </ng-container>
        </div>

        <h1>Bottom Row</h1>
        <div class="row">
                        <ng-container *ngFor="let item of gameCollectionItems; let i = index">
                
                                <small-action-card *ngIf="item.locked == true" id="{{i}}" [gameCollectionItem]="item"></small-action-card>    
                            
                        </ng-container>
                </div>
    
</div>