small-action-card{
    width: 15%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.dashboard-container {
    outline: none;
    background: transparent;
    border-radius: 5px;
    padding: 30px;
    box-shadow: none;
    margin-bottom: 20px;
}

    
